@model IEnumerable<Extra>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div>
    <h1 class="text-center text-success bg-dark">Extras Edit Page</h1>
    <hr />
    <p class="text-end">
        <a class="btn btn-lg btn-primary text-white" asp-action="Create">Create New Extra</a>
    </p>
</div>


<form asp-area="Admin" asp-controller="Extra" method="post">
    <div>
        <table class="table text-center table-hover">
            <thead>
                <tr class="align-items-center">
                    <th>
                        Picture
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>

                    <th>
                        IsSellable
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Change Sellable Option
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-items-center shadow">
                        <td>
                            <img class="img-fluid  w-25 h-25" src="~/assest/img/ExtrasPictures/@item.PicturePath" alt="">
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @if (item.Description is not null)
                            {
                                @item.Description.Substring(0,item.Description.Length>=40 ? 40:item.Description.Length)
                            }
                        </td>
                        <td>
                            @item.Price ₺
                        </td>


                        @{
                            if (item.IsSellable == true)
                            {
                                <td class="bg-success">
                                </td>
                            }
                            else
                            {
                                <td class="bg-danger">
                                </td>
                            }
                        }
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </td>

                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                Change Sellable
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</form>
