@*@model MenusExtrasVM

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center h1 bg-dark bg-gradient text-white">Menu</h1>

<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Yum Burger</h2>
            <h1 class="display-4 text-uppercase">Our Menus</h1>
        </div>
        <div class="row g-5">

            @{
                foreach (var item in Model.Menus)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/assest/img/menuPictures/@item.PicturePath" alt="">
                                <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fa-solid fa-shopping-cart" style="color: #885916;"></i></a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="bg-dark border-inner text-center p-4">
                                <h4 class="text-uppercase text-primary">@item.Name</h4>
                                <h5 class="text-white m-0">@item.Description</h5>
                                <p class="text-white m-0">@(item.Price + " ₺")</p>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

<hr />

<h1 class="text-center h1 bg-dark bg-gradient text-white">Extra</h1>

<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Yum Burger</h2>
            <h1 class="display-4 text-uppercase">Our Extra</h1>
        </div>
        <div class="row g-5">

            @{
                foreach (var item in Model.Extra)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/assest/img/ExtrasPictures/@item.PicturePath" alt="">
                                <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fa-solid fa-shopping-cart" style="color: #885916;"></i></a>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="bg-dark border-inner text-center p-4">
                                <h4 class="text-uppercase text-primary">@item.Name</h4>
                                <h5 class="text-white m-0">@item.Description</h5>
                                <p class="text-white m-0">@(item.Price + " ₺")</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>*@


@model MenusExtrasVM

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center h1 bg-dark bg-gradient text-white">Menu</h1>

<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Yum Burger</h2>
            <h1 class="display-4 text-uppercase">Our Menus</h1>
        </div>
        <div class="row g-5">
            @foreach (var item in Model.Menus)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="~/assest/img/menuPictures/@item.PicturePath" alt="">
                            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-start">
                                    <form asp-controller="Menu" asp-action="Details" method="post">
                                        <input type="hidden" name="menuId" value="@item.Id" />
                                        <button type="submit" class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1">
                                            <i class="fa-solid fa-shopping-cart" style="color: #885916;"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="bg-dark border-inner text-center p-4">
                            <h4 class="text-uppercase text-primary">@item.Name</h4>
                            <h5 class="text-white m-0">@item.Description</h5>
                            <p class="text-white m-0">@(item.Price + " ₺")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<hr />

<h1 class="text-center h1 bg-dark bg-gradient text-white">Extra</h1>

<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Yum Burger</h2>
            <h1 class="display-4 text-uppercase">Our Extra</h1>
        </div>
        <div class="row g-5">
            @foreach (var item in Model.Extra)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="~/assest/img/ExtrasPictures/@item.PicturePath" alt="">
                            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-start">
                                    <form asp-controller="Extra" asp-action="Details" method="post">
                                        <input type="hidden" name="extraId" value="@item.Id" />
                                        <button type="submit" class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1">
                                            <i class="fa-solid fa-shopping-cart" style="color: #885916;"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="bg-dark border-inner text-center p-4">
                            <h4 class="text-uppercase text-primary">@item.Name</h4>
                            <h5 class="text-white m-0">@item.Description</h5>
                            <p class="text-white m-0">@(item.Price + " ₺")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>