@model Order

@{
    ViewData["Title"] = "Index";
}

@{
    if (Model is null) // doesn't have order
    {
        <div class="alert alert-danger">
            <strong>Your Basket is empty!</strong>                 
            <a asp-controller="Menu" class="btn btn-primary ms-3 ">Start Shopping</a>
        </div>
        
       
        
    }
    else // exist order
    {
        <h1 class="h1 text-primary text-md-center">Your Basket</h1>
        <hr />
        <div class="row">

            <div class="col-md-9">
                <table class="table  table-active text-center ">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Picture</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"> Price</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form asp-controller="Order" method="post">

                            @{
                                if(Model.OrdersMenus!=null)
                                {
                                    foreach (var item in Model.OrdersMenus)
                                    {
                                    <tr>
                                        <td>@item.Menu.Name</td>
                                        <td class="w-25 h-25"><img class="w-25 h-25" src="~/assest/img/menuPictures/@item.Menu.PicturePath" alt="logo" /></td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Menu.Price ₺</td>
                                        <td>@(item.Menu.Price * item.Quantity) ₺</td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.MenuId">
                                                <i class="fa-solid fa-rectangle-xmark" style="color: #ff6600;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                }
                                if (Model.OrdersExtras != null)
                                {
                                    foreach (var item in Model.OrdersExtras)
                                    {
                                    <tr>
                                        <td>@item.Extra.Name</td>
                                        <td class="w-25 h-25"><img class="w-25 h-25" src="~/assest/img/ExtrasPictures/@item.Extra.PicturePath" alt="logo" /></td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Extra.Price ₺</td>
                                        <td>@(item.Extra.Price * item.Quantity) ₺</td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.ExtraId">
                                                <i class="fa-solid fa-rectangle-xmark" style="color: #ff6600;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                }                               
                            }                          
                            

                        </form>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                @*<div class="col-3 row  position-fixed" style="top: 300px">*@
                <div class="table row" style="position:sticky; top:300px;">
                    <a class="btn btn-primary mb-3">Buy Now</a>
                    <a class="btn btn-primary mb-3">Continue Shopping</a>
                    <a asp-controller="Order" asp-action="ClearAll" class="btn btn-danger">Clear All</a>
                </div>
            </div>




        </div>

    }
}



